body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input3{
    display: flex;
    justify-content: center;
    align-items: center;
}